@model WebApplication2.Models.equipe

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>equipe</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.equipe_lib)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.equipe_lib)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.equipe_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
